<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>ขอคะแนนเยอะๆนะครับอาจารย์</h1>
        <p><a href="#" class="btn btn-primary">About me</a></p>
        <p><a href="insert"  class="btn btn-primary">กรอกข้อมูล</a></p>
        
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/da81a85a-9f01-4748-a1b1-f437cb93d836/d1z892e-2097914f-7299-40a0-814f-f53aaa090617.jpg/v1/fill/w_600,h_452,q_75,strp/naruto_by_superninjadeluxe_d1z892e-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDUyIiwicGF0aCI6IlwvZlwvZGE4MWE4NWEtOWYwMS00NzQ4LWExYjEtZjQzN2NiOTNkODM2XC9kMXo4OTJlLTIwOTc5MTRmLTcyOTktNDBhMC04MTRmLWY1M2FhYTA5MDYxNy5qcGciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.zNipzcJwI_AWXPV0SEfVU23AAKomh86kJmdcJpaKiqw" style="width:640px;height:360px">
        <h5>picture by <a href="https://superninjadeluxe.deviantart.com/art/Django-564499014">superninjadeluxe - DeviantArt</a></h5>
      </div>
    </div>

  </body>
</html>